body {
    margin: 10px;
}
.row label {
    margin-left: 25px;

}
h3 {
    display: inline-block;
    margin: 10px 35%;
    color: cadetblue;
}
.titles{
    display: inline-block;
    margin: 10px 30%;
}
#tortillas {
    display: inline-block;
    margin: 10px 24%;
}
#header button {
    margin: 10px 44%;
}
h1 {
    margin-left: 20%;
}
h1 a {
    margin-left: 25%;
}
img {
    display: inline-block;
    margin: 8px;
    width: 200px;
    height: 200px;
}

table {
    width: 400px;
    margin-left: 70%;
    color: darkslateblue;
}